div.container{
    padding: 0 1rem;
}
.image-box{
    margin-top: 2rem;
    text-align: center;
    // background-color: white;
    border: 1px solid #e5e9f2;
    background-color:  rgba(0, 0, 0, 0.5);
}
.jumbotron{
    background-image: url("./../../../assets/img/oficina.jpg");
    background-color: #9bacc7;
    border: solid 1px #343f50;
    div.container{
        background-color: rgba(52, 63, 80, 0.5);
        color:white;
    }
    div.container::after::before{
        content: " ";
    }
}